<html>
    <head>
        <title>Micotel</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 style="text-align: center;">Micotel</h1>
                <p>¡Bienvenid@! Proximamente abriremos nuestra web en este país.</p>
                <p>Suscríbete para recibir nuestras novedades.</p>
                <form class="form" action="{{ url_for('index') }}" method="POST">
                    {{ form.csrf_token }}
                    <div>
                        {{ form.email.label }}
                        {{ form.email(class_="form-control", pattern_="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$") }}
                    </div>
                    <div class="form-check">
                        {{ form.mujer(class_="form-check-input") }}
                        {{ form.mujer.label(class_="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.hombre(class_="form-check-input") }}
                        {{ form.hombre.label(class_="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.infantil(class_="form-check-input") }}
                        {{ form.infantil.label(class_="form-check-label") }}
                    </div>
                    {{ form.subcribirme(class_="btn btn-primary") }}
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </body>
</html>