<html>
    <head>
        <title>Micolet</title>
    </head>
    <body>
        <h1>Micolet</h1>
        <p>¡Bienvenid@! Proximamente abriremos nuestra web en este país.</p>
        <p>Suscríbete para recibir nuestras novedades.</p>
        <form action="{{ url_for('micolet') }}">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="ejemplo@email.com"><br>

            <label for="email">Email:</label><br>
            <input type="checkbox" id="mujer" name="mujer" value="mujer">
            <label for="mujer"> Moda Mujer</label><br>
            <input type="checkbox" id="hombre" name="hombre" value="hombre">
            <label for="hombre"> Moda Hombre</label><br>
            <input type="checkbox" id="infantil" name="infantil" value="infantil">
            <label for="infantil"> Moda Infantil</label><br><br>

            <input type="submit" value="¡Suscribeme!">
        </form> 
    </body>
</html>